@tailwind base;
@tailwind components;
@tailwind utilities;

/* Change arrow color */
.swiper-button-next,
.swiper-button-prev {
  color: #29a383 !important; /* Custom arrow color */
}

/* Change pagination dot color */
.swiper-pagination-bullet {
  background-color: #29a383 !important; /* Default dot color */
}

/* Active pagination dot color */
.swiper-pagination-bullet-active {
  background-color: #29a383 !important; /* Active dot color */
}

/* Adjust the position of the pagination dots */
.swiper-pagination {
}
